/frontend/node_modules
/frontend/test/js
/frontend/test/browsertest/js
/frontend/test/fixtures/temp-*
/frontend/test/temp
/frontend/test/ChangesAndRemovals
/frontend/test/**/dev-defaults.webpack.lock
/frontend/benchmark/js
/frontend/benchmark/fixtures
/frontend/examples/**/dist
/frontend/assembly/**/*.wat
/frontend/assembly/**/*.wasm
/frontend/coverage
/.nyc_output
/.jest-cache
/frontend/.DS_Store
*.log
*~
.idea
.vscode
.cache
.eslintcache
package-lock.json