/* global properties */
* {
    font-family: 'Prata', monospace;
}

html {
    height: 100%;
}

h1 {
    font-size: 4.5rem;
    font-weight: normal;
    color: white;
    /* background-color: yellow; */
}

h2 {
    font-size: 3.6rem;
    font-weight: normal;
    color: white;
}

button {
    width: 111px;
    height: 39px;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    color: white;
    backdrop-filter: blur(10px);
}
button:hover {
    background-color: grey;
}

.nav {
    position: fixed;
    display: flex;
    left: 0;
    color: white;
    width: 100%;
    margin: 0;
    font-size: 30px;
    line-height: 0;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    flex-flow: row nowrap;
}

.nav ul {
    list-style-type: none;
}

.backgroundcontainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* landing page properties */
.fullpage {
    position: absolute;
    width: 95%;
    height: 95%;
}

.fullpage #background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    backdrop-filter: blur(2px);
}

.fullpage .slogan {
    position: absolute;
    width: 100%;
    /* background-color: black; */
    text-align: center;
    top: 30%;
}

.nav .navbtns {
    /* background: blue; */
    margin-right: 10vw;
    margin-left: auto;
}

.nav .navbtns .navusrcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fullpage .nav li {
    float: right;
}

.fullpage .nav li button {
    display: inline;
    margin: 30px 150px;
}

.fullpage .nav .logo {
    position: absolute;
    margin: auto 36%;
}

.fullpage .signup {
    position: absolute;
    top: 60%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;  /* wraps enter button to the next line */
    /* background-color: black; */
}

.mainpage .searchbar,
.fullpage .signup .signupform {
    background-color: transparent;
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    color: white;
}

.fullpage .signup button {
    margin-top: 20px;
}

::placeholder {
    color: white;
    text-align: center;
}

.fullpage .popup {
    position: relative;
    display: flex;
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 90%;
    height: 70%;
    top: 15%;
    margin: 0 auto;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.mainpage .formcontainer,
.fullpage .formcontainer {
    display: flex;
    /* background-color: black; */
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.fullpage .popup .popupnav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.fullpage .popup .popupform {
    background-color: transparent;
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    color: white;
    margin: 0.5vw auto;
}

.fullpage .popup button {
    margin-top: 1vw;
}

.fullpage .popup .btnclosemodal {
    position: absolute;
    top: 1px;
    right : 20px;
    height: 35px;
    width: 35px;
    font-size: 24px;
    border-radius:1cm;
}

.fullpage .popup .name .nameform {
    background-color: transparent;
    height: 40px;
    font-size: 20px;
    border-color: white;
    border-style: solid;
    color: white;
    margin: 0.5vw 0.5vw;
}

/* Profile Page */
.mainpage .mainpagetitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
}

.profilepage .btn {
    padding-left: 40px;
}

.profilepage .greeting {
    padding-right: 40px;
    margin-left: auto;
    /* background-color: black; */
    font-size: 4;
}

.profilepage .myprofile,
.profilepage .otherprofile {
    position: absolute;
    top: 25%;
    left: 19%;
    width: 25%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background: rgba(222, 220, 174, 0.5); /* Green background with 30% opacity */
}

.piccontainer {
    /* background-color: black; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.piccontainer .pic {
    width: 30%;
    clip-path: circle(50%);
}

.otherprofile .fullname,
.myprofile .subheading {
    margin-bottom: 0px;
    /* background-color: black; */
}

.otherprofile .profiledivcontainer,
.myprofile .profileformcontainer {
    /* background-color: goldenrod; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
}

.profiledivcontainer .profiledivname,
.profileformcontainer .profileformname {
    font-size: 15px;
    color: white;
    padding-top: 2%;
    padding-bottom: 0.5%;
}

.profileformcontainer .profileform {
    background-color: transparent;
    width: 70%;
    height: 3%;
    font-size: 20px;
    text-align: center;
    border-color: white;
    border-style: solid;
    color: white;
}

.profiledivcontainer .profilediv {
    background-color: lightgray;
    width: 70%;
    height: 3%;
    font-size: 20px;
    overflow-x:auto;
    
}

.profilediv p {
    position: absolute;
    font-size: 11px;
    line-height: 0;
    text-align: center;

}

.profileform[type='text'],
.profileform::-webkit-input-placeholder {
    font-size: 14px;
}
.mainpage .nav,
.profilepage .nav {
    background: rgba(222, 220, 174, 0.5); /* Green background with 30% opacity */
}
.profilepage .myvideocontainer {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 40%;
    background: rgba(222, 220, 174, 0.5); /* Green background with 30% opacity */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 15px;
    border-radius: 5%;
}

.myvideocontainer .profilevidcontainer {
    background-color: black;
    width: 100%;
    overflow: hidden;
}

.profilevidcontainer .profilevid {
    width: 100% !important;
    height: auto !important;
}

.myvideocontainer .myvideobtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profilepage .sidebarwrapper {
    position: absolute;
    background-color: rgba(222, 220, 174, 0.5);
    top: 18%;
    left: 0;
    width: 15%;
    height: 82%;
    display: flex;
    flex-flow: column wrap;
}

.sidebar .sidebaritem {
    display: flex;
    flex-flow: row nowrap;
    /* background-color: aqua; */
    border-color: white;
    border-style: solid;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sidebaritem .piccontainer {
    display: flex;
    /* background-color: white; */
    width: 20%;
    height: auto;
    justify-content: center;
}

.sidebaritem span {
    width: 80%;
    /* background-color: green; */
}

.connectionGallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 150px 150px 150px;
}
.connectionGallery .item {
    position: relative;
    overflow: hidden;
  }
  
  .connectionGallery .item img {
    vertical-align: middle;
    width: 140px;
    height: 140px;
  }
  
  .connectionGallery .caption {
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateY(0%);
    background: rgba(0, 0, 0, .7);
    color: rgb(255, 255, 255);
    font-size: small;
  }

  .myprofile form {
    margin-bottom: 10px;
  }

  .profilepage .requestsContainer {
    position: absolute;
    top: 25%;
    right: 10%;
    width: 30%;
    height: 40%;
    background: rgba(222, 220, 174, 0.5); /* Green background with 30% opacity */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 15px;
    border-radius: 5%;
    overflow-y: auto;
  }

  .profilepage .requestsContainer .request, 
  .profilepage .pendingInvitationsContainer .request{
    position: relative;
    margin-bottom: 10px;
    background: black;
    width: 90%;
    height: 20%;
  }

  .profilepage .requestsContainer .requestsSubheading {
    
    vertical-align: middle;
    position: relative;
    background: green;
    margin-bottom: 10px;
    width: 90%;
    height: 20%;
  }
  .profilepage .requestsContainer .requestsSubheading p {
    position: relative;
    font-size: x-large;
    left: 50%;
  }

  .profilepage .requestsContainer .request button,
  .profilepage .pendingInvitationsContainer .request button{
    position: absolute;
    left: 75%;
    top: 25%;
  }

  .profilepage .requestsContainer .request p,
  .profilepage .pendingInvitationsContainer .request p {
    text-align: left;
    font-size: larger;
    color: white;
  }

  .profilepage .requestsContainer p,
  .profilepage .pendingInvitationsContainer p {
    font-size: xx-large;
  }

  .profilepage .pendingInvitationsContainer {
    position: absolute;
    top: 70%;
    right: 10%;
    width: 30%;
    height: 40%;
    background: rgba(222, 220, 174, 0.5); /* Green background with 30% opacity */
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    border-radius: 5%;
    overflow-y: auto;
    margin-bottom: 20px;
  }

/* main page */
.mainpage .backgroundcontainer {
    justify-content: center;
}

.backgroundcontainer .profiledivcontainer {
    position: block;
    overflow-x: auto;
    width: 100%;
    top: 20%;
    left: 50%;
    padding-top: 150px;
}

.profiledivcontainer .profilediv {

}